.marg-up{
    margin-top: 6%;
}

.form-control{
    margin-right: 0.5%;
    margin-right: 0.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.marg-up-inp{
    margin-top: 1%;
    margin-bottom: 1%;
}